
$black: #111010;
$lightBlue:#247BA0;
$yellow: #C2E812;
$lightOrange: #F4A261;
$gray: #83838c;
$lightBlue2: #81c7e6;

// $black: #0B222C;
// $lightBlue:#2A9D8F;
// $yellow: #F9DB6D;
// $lightOrange: #F4A261;
// $orange: #ffa600;