@import 'colors.scss';
@import 'fonts.scss';
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font;
}

//Estilo de botones
@mixin button($color,$bckColor){

    color: $color;
    background-color: $bckColor;
    border: none;
    font-weight: 500;
    text-transform: uppercase;

    &:hover{
        color: $color;
        background-color: $lightBlue;
    }
}

body{

    .navbar{
        display: flex;
        align-content: center;
        background: $black;
        height: 10vh;
        border-bottom: solid 6px $lightBlue;

        .burger {
            display: none;
            
            @media screen and (max-width: 1020px) {
                display: unset;
                color: white;
                i{
                    cursor: pointer;
                }
            }
        }

        .navbar-brand {
            color: white;
            font-size: 40px;
        }
        #welcome {
            color: $yellow;
            margin-top: 2.5vh;
        }

        .rigth-nav{
            display: flex;
            align-items: center;
            @media screen and (max-width: 1020px) {
                display: none;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 0;
                margin-top: 10vh;
                width: 50%;
                height: 90vh;
                background-color: $black;
                border-left: solid 3px $lightBlue ;
            }

            .nav-ul{

                display: flex;
                justify-content: space-between;
                width: 50vw;
                margin-top: 2.5vh;
                margin-right:4vw;
                list-style: none;

                .linkActive{
                    color: $yellow;
                }

                @media screen and (max-width: 1020px) {

                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 30%;
                    margin-top: 10vh;
                    margin-bottom: 10vh;
                    margin-right:0;
                    
                }

                a{
                    text-decoration: none;
                    color: white;

                    &:hover{
                        color: $yellow;
                        transition: 0.25s ease-in;
                    }
                }
            }

            .btn{
                @include button($yellow,$black);
                text-transform: none;
                border: solid 1px $yellow;
            }
        }
    }
    main {
        background-color: $yellow;
        height: 90vh;
        padding-top: 25px;

        .find-create {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 95vw;

            .input-group{
                width: 30vw;
                
                input{
                    border: solid 2px $black;
                    &:focus {
                        border: solid 2px $lightBlue;
                    }
                }

                button {
                    background-color: $black;
                    border: solid 2px $black;
                    border-left: none;
                    height:38px;
                    &:hover{
                        background-color: $lightBlue;
                        border: solid 2px $lightBlue;
                    }
                    .fa-search{
                        color: white;
                    }
                }
            }

            #createContact{
                @include button(white,$black);
                width: 30vw;
                height: 40px;
                text-transform: none;
            }
            #deleteContacts{
                @include button(white,$black);
                width: 30vw;
                height: 40px;
                text-transform: none;
                &:hover{
                    background-color: rgb(255, 132, 1);
                }
            }
        }
        
        .contacts-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80vh;
            padding-top: 3vh;

            .table-fields{
                display: grid;
                grid-template-columns: 35px repeat(7,1fr);
                grid-auto-rows: 40px;
                width: 95vw;
                background-color: $lightBlue;
                color: white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: solid 4px  $black;
                border-bottom: solid 1px $black;

                .field{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;

                    input[type=checkbox]{
                        
                        cursor: pointer;
                        width: 18px;
                        height: 18px;
                    }
                    .fa-sync-alt,.fa-sort{
                        cursor: pointer;
                        transition: .2s ;
                        &:hover{
                            transform: scale(1.4);
                        }
                    }
                }
            }
            .contacts-table{
                padding: 3px 3px 10px 3px ;
                border: solid 4px $black;
                border-top: solid 1px $black;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: white;
                width: 95vw;
                max-height: 67vh;
                overflow-y: auto;
                overflow-x: hidden;
                scroll-padding: 50px 0 0 50px;

                &::-webkit-scrollbar{
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {

                    background-color: $lightBlue;
                    border-radius: 3px;
                }

                .contact-row{
                    display: grid;
                    grid-template-columns: 35px repeat(7,1fr);
                    grid-auto-rows: auto;
                    min-height: 50px;
                    width: 95vw;
                    background-color: white;
                    border-bottom: 1px solid rgb(196, 192, 192);
                    border-radius: unset;
                    margin-left: -5px;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover{
                        background-color: $yellow
                    }


                    .contact-checkbox {
                        align-self: center;
                        justify-self: center;
                        cursor: pointer;
                        width: 18px;
                        height: 18px;
                        margin-left: 5px;

                        
                    }
                    .contact-info {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: default;

                        &:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            justify-content: unset;
                            align-self: center;
                            margin: 0;


                            p{
                                margin: 0;
                                max-width: 175px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                            }
                            small{
                                max-width: 175px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis; 
                            }


                        }
                        &:nth-child(3){
                            @extend :nth-child(2);
                            small:nth-child(1){
                                display: none;
                            }
                            &:hover small{
                                transform: none;
                                display: unset;
                            
                            }
                        }
                        &:nth-child(6){
                            justify-content: flex-start;
                            flex-wrap: wrap;

                            .channel{
                                background-color: lightblue;
                                color: $lightBlue;
                                padding: 1px 3px;
                                border-radius: 3px;
                                margin: 2px;
                                cursor: pointer;
                                min-width: 5vw;
                                max-width: fit-content;
                                text-align: center;
                                font-size: 10px;       
                            }

                        }

                        .progress{
                            width: 120px;
                            height: 13.5px;
                            border-radius: 10px;
                            background-color: rgb(213, 208, 208);
                            
                            .progress-bar{
                                border-radius: 10px;
                                
                            }
                        }

                        
                    }
                    .contact-edit {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        cursor: pointer;

                        i{
                            font-size: 24px;
                            color: $black;
                            &:hover{
                                color: white;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .selected-row{
                    background-color: $lightBlue2;
                }
            }
        }

        .newContactModal {
            display: none; //Valor cambiado desde JS
            flex-direction: column;
            align-items: center;
            padding: 0vh 3vh;
            border: solid 3px $black;
            border-radius: 10px;
            background-color: white;
            max-width: 95%;    
            height: auto;
            margin-bottom: 15px;
            position: absolute;
            right: 0;
            left: 0;
            top: 11vh;
            z-index: 10;

            .title-close{
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                h4{
                    font-weight: 500;
                    color: $black;
                    margin-left: 10px;
                    align-self: flex-end;
                }
                .closebtn {
                    font-size: 30px;
                    margin-right: 10px;
                    cursor: pointer;
                    
                }
            }

            .loginForm{
                width: 100%;

                .spin {
                    animation: pulse 1.2s 3  ;
                    @keyframes pulse {
                        
                        0%  {
                            transform: translate(65vw,-300px) scale(0.85);
                        }        
                        50% {
                            transform: translate(65vw,-300px) scale(1.15);
                        }
                        100% {
                            transform: translate(65vw,-300px) scale(0.85);
                            
                        } 
                    }
                }
                .required-data{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    border: solid 3px $black;
                    border-radius: 10px;
                    padding-top: 7px;
                    background-color: $yellow;

                    .form-group{
                        width: 15vw;
                        color: $black;
                        font-weight: 500;
                        select,input {
                            border: solid 2px $lightBlue;
                            color: $black;
                        }
                        select{
                            cursor: pointer;
                        }
                        //Clase del dropdown para el select buscador
                        .dropdown-toggle{
                            border: solid 2px $lightBlue;
                            height: 38px;
                        }
                        .dropdown-menu {
                            border: solid 2px $lightBlue;
                        }
                        .inner{
                            border: none;
                        }
                    }

                }
                .location-data{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    padding-top: 10px;

                    .form-group{
                        width: 15vw;
                        font-weight: 500;
                        .form-control-range{
                            cursor: pointer;
                        }
                        select,input {
                            border: solid 2px $lightBlue;
                            color: $black;
                        }
                        select{
                            cursor: pointer;
                        }
                    }

                }

                .contact-channel-data{
                    padding: 0px 15px 0px 25px;
                    width: 100%;


                    .phone{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 58%;

                        .form-group{
                            width: 15vw;
                            font-weight: 500;

                            .channel-title{
                                color: $black;
                                padding: 5px 0px 5px 30px;                           
                                border-bottom: solid 3px $lightBlue;                                                                
                                border-left: solid 2px $lightBlue;
                                border-bottom-left-radius: 5px;              
                                border-top-right-radius: 5px;              
                                background-color: #c1e812;                       
                            }
                            select,input {
                                border: solid 2px $lightBlue;
                                color: $black;
                            }
                            select{
                                cursor: pointer;
                                background-color: $yellow;
                                border: none;
                                border-radius: unset;
                                border-top: solid 3px $lightBlue;                                                                
                                border-right: solid 2px $lightBlue;
                                border-bottom-left-radius: 5px;              
                                border-top-right-radius: 5px;    
                            }
                        }
                    }
                    .whatsapp{
                        @extend .phone;
                    }
                    .instagram{
                        @extend .phone;
                    }
                    .facebook{
                        @extend .phone;
                    }
                    .linkedin{
                        @extend .phone;
                    }

                }
                .profile-image{
                    position: absolute;
                    height: 200px;
                    transform: translate(65vw,-300px);
                }
                #btnSubmit {
                    @include button(white,$lightBlue);
                    font-size: 22px;
                    position: absolute;
                    width: 36vw;
                    height: 60px;
                    transform: translate(55.2vw,-75px);
                    transition: .2s;
                    &:hover{
                        background-color: $black;
                        color: $yellow;
                        font-size: 26px;
                    }

                }
                .errorsContainer{
                    display:flex;
                    justify-content: center;
                    
                    small{
                        color:red;
                        font-weight: 700;
                    }
                }
            }
            
        }

        .updateContactModal {
            @extend .newContactModal;

            #updatebtnSubmit {
                @extend #btnSubmit;
            }
        }

        #deleteModal{

            .modal-header {
                background-color: $yellow;
                color: $black;
            }
            .modal-footer {
                .btn-secondary{
                    @include button($black,$yellow);
                    border: solid 1px $black;
                    text-transform: none;
                    &:hover{
                        color: white;
                        background-color: $black;
                    }
                }
                .btn-primary{
                    @include button($black,rgb(255, 111, 0));
                    color: white;
                    border: solid 1px $black;
                    text-transform: none;
                    &:hover{
                        color: white;
                        background-color: red;
                    }
                }
            }
        }
        
        
    }
}    